* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;;/* opsional biar keliatan full hitam */
}

.header {
    width: 100%;
    border-bottom: #111 1px solid;
    height: 5vh;
}