* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;;/* opsional biar keliatan full hitam */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: #111 1px solid;
    height: 5vh;
}

.navbar-left{
    display: flex;
    margin-left:10px ;
    flex-direction: row;
    gap:10px;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    margin-right:15px ;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

a:hover{
    color: blue;
}

